/AADProject/Data/
AADProject/.vscode/settings.json
.gitignore
.gitignore
AADProject/__pycache__/DataPreparation.cpython-310.pyc
AADProject/.env
.gitignore
AADProject/__pycache__/paths.cpython-310.pyc
AADProject/BackwardModel/__pycache__/__init__.cpython-310.pyc
AADProject/BackwardModel/__pycache__/plots.cpython-310.pyc
AADProject/BackwardModel/__pycache__/summaryStats.cpython-310.pyc
AADProject/Data_Das2019/preprocess_data.m
AADProject/Data_Das2019/README.txt.txt
AADProject/Data_Das2019/EEGData/S1.mat
AADProject/Data_Das2019/EEGData/S2.mat
AADProject/Data_Das2019/EEGData/S3.mat
AADProject/Data_Das2019/EEGData/S4.mat
AADProject/Data_Das2019/EEGData/S5.mat
AADProject/Data_Das2019/EEGData/S6.mat
AADProject/Data_Das2019/EEGData/S7.mat
AADProject/Data_Das2019/EEGData/S8.mat
AADProject/Data_Das2019/EEGData/S9.mat
AADProject/Data_Das2019/EEGData/S10.mat
AADProject/Data_Das2019/EEGData/S11.mat
AADProject/Data_Das2019/EEGData/S12.mat
AADProject/Data_Das2019/EEGData/S13.mat
AADProject/Data_Das2019/EEGData/S14.mat
AADProject/Data_Das2019/EEGData/S15.mat
AADProject/Data_Das2019/EEGData/S16.mat
AADProject/Data_Das2019/envelopes/part1_track1_dry_env.npz
AADProject/Data_Das2019/envelopes/part1_track2_dry_env.npz
AADProject/Data_Das2019/envelopes/part2_track1_dry_env.npz
AADProject/Data_Das2019/envelopes/part2_track2_dry_env.npz
AADProject/Data_Das2019/envelopes/part3_track1_dry_env.npz
AADProject/Data_Das2019/envelopes/part3_track2_dry_env.npz
AADProject/Data_Das2019/envelopes/part4_track1_dry_env.npz
AADProject/Data_Das2019/envelopes/part4_track2_dry_env.npz
AADProject/Data_Das2019/envelopes/rep_part1_track1_dry_env.npz
AADProject/Data_Das2019/envelopes/rep_part1_track2_dry_env.npz
AADProject/Data_Das2019/envelopes/rep_part2_track1_dry_env.npz
AADProject/Data_Das2019/envelopes/rep_part2_track2_dry_env.npz
AADProject/Data_Das2019/envelopes/rep_part3_track1_dry_env.npz
AADProject/Data_Das2019/envelopes/rep_part3_track2_dry_env.npz
AADProject/Data_Das2019/envelopes/rep_part4_track1_dry_env.npz
AADProject/Data_Das2019/envelopes/rep_part4_track2_dry_env.npz
AADProject/Data_Das2019/stimuli/part1_track1_dry.wav
AADProject/Data_Das2019/stimuli/part1_track1_hrtf.wav
AADProject/Data_Das2019/stimuli/part1_track2_dry.wav
AADProject/Data_Das2019/stimuli/part1_track2_hrtf.wav
AADProject/Data_Das2019/stimuli/part2_track1_dry.wav
AADProject/Data_Das2019/stimuli/part2_track1_hrtf.wav
AADProject/Data_Das2019/stimuli/part2_track2_dry.wav
AADProject/Data_Das2019/stimuli/part2_track2_hrtf.wav
AADProject/Data_Das2019/stimuli/part3_track1_dry.wav
AADProject/Data_Das2019/stimuli/part3_track1_hrtf.wav
AADProject/Data_Das2019/stimuli/part3_track2_dry.wav
AADProject/Data_Das2019/stimuli/part3_track2_hrtf.wav
AADProject/Data_Das2019/stimuli/part4_track1_dry.wav
AADProject/Data_Das2019/stimuli/part4_track1_hrtf.wav
AADProject/Data_Das2019/stimuli/part4_track2_dry.wav
AADProject/Data_Das2019/stimuli/part4_track2_hrtf.wav
AADProject/Data_Das2019/stimuli/rep_part1_track1_dry.wav
AADProject/Data_Das2019/stimuli/rep_part1_track1_hrtf.wav
AADProject/Data_Das2019/stimuli/rep_part1_track2_dry.wav
AADProject/Data_Das2019/stimuli/rep_part1_track2_hrtf.wav
AADProject/Data_Das2019/stimuli/rep_part2_track1_dry.wav
AADProject/Data_Das2019/stimuli/rep_part2_track1_hrtf.wav
AADProject/Data_Das2019/stimuli/rep_part2_track2_dry.wav
AADProject/Data_Das2019/stimuli/rep_part2_track2_hrtf.wav
AADProject/Data_Das2019/stimuli/rep_part3_track1_dry.wav
AADProject/Data_Das2019/stimuli/rep_part3_track1_hrtf.wav
AADProject/Data_Das2019/stimuli/rep_part3_track2_dry.wav
AADProject/Data_Das2019/stimuli/rep_part3_track2_hrtf.wav
AADProject/Data_Das2019/stimuli/rep_part4_track1_dry.wav
AADProject/Data_Das2019/stimuli/rep_part4_track1_hrtf.wav
AADProject/Data_Das2019/stimuli/rep_part4_track2_dry.wav
AADProject/Data_Das2019/stimuli/rep_part4_track2_hrtf.wav
AADProject/Data_InputModel/EEG_PP/S1_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S1_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S2_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S2_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S3_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S3_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S4_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S4_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S5_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S5_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S6_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S6_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S7_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S7_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S8_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S8_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S9_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S9_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S10_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S10_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S11_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S11_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S12_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S12_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S13_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S13_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S14_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S14_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S15_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S15_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S16_DAS.nwb
AADProject/Data_InputModel/EEG_PP/S16_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S17_DTU.nwb
AADProject/Data_InputModel/EEG_PP/S18_DTU.nwb
AADProject/Data_InputModel/Envelopes/aske_story1_trial_1_env.npz
AADProject/Data_InputModel/Envelopes/aske_story1_trial_2_env.npz
AADProject/Data_InputModel/Envelopes/aske_story1_trial_3_env.npz
AADProject/Data_InputModel/Envelopes/aske_story1_trial_4_env.npz
AADProject/Data_InputModel/Envelopes/aske_story1_trial_5_env.npz
AADProject/Data_InputModel/Envelopes/aske_story1_trial_6_env.npz
AADProject/Data_InputModel/Envelopes/aske_story1_trial_7_env.npz
AADProject/Data_InputModel/Envelopes/aske_story1_trial_8_env.npz
AADProject/Data_InputModel/Envelopes/aske_story1_trial_9_env.npz
AADProject/Data_InputModel/Envelopes/aske_story1_trial_10_env.npz
AADProject/Data_InputModel/Envelopes/aske_story1_trial_11_env.npz
AADProject/Data_InputModel/Envelopes/aske_story1_trial_12_env.npz
AADProject/Data_InputModel/Envelopes/aske_story2_trial_1_env.npz
AADProject/Data_InputModel/Envelopes/aske_story2_trial_2_env.npz
AADProject/Data_InputModel/Envelopes/aske_story2_trial_3_env.npz
AADProject/Data_InputModel/Envelopes/aske_story2_trial_4_env.npz
AADProject/Data_InputModel/Envelopes/aske_story2_trial_5_env.npz
AADProject/Data_InputModel/Envelopes/aske_story2_trial_6_env.npz
AADProject/Data_InputModel/Envelopes/aske_story2_trial_7_env.npz
AADProject/Data_InputModel/Envelopes/aske_story2_trial_8_env.npz
AADProject/Data_InputModel/Envelopes/aske_story2_trial_9_env.npz
AADProject/Data_InputModel/Envelopes/aske_story2_trial_10_env.npz
AADProject/Data_InputModel/Envelopes/aske_story2_trial_11_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_1_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_2_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_3_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_4_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_5_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_6_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_7_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_8_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_9_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_10_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_11_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_12_env.npz
AADProject/Data_InputModel/Envelopes/aske_story3_trial_13_env.npz
AADProject/Data_InputModel/Envelopes/aske_story4_trial_1_env.npz
AADProject/Data_InputModel/Envelopes/aske_story4_trial_2_env.npz
AADProject/Data_InputModel/Envelopes/aske_story4_trial_3_env.npz
AADProject/Data_InputModel/Envelopes/aske_story4_trial_4_env.npz
AADProject/Data_InputModel/Envelopes/aske_story4_trial_5_env.npz
AADProject/Data_InputModel/Envelopes/aske_story4_trial_6_env.npz
AADProject/Data_InputModel/Envelopes/aske_story4_trial_7_env.npz
AADProject/Data_InputModel/Envelopes/aske_story4_trial_8_env.npz
AADProject/Data_InputModel/Envelopes/aske_story4_trial_9_env.npz
AADProject/Data_InputModel/Envelopes/aske_story4_trial_10_env.npz
AADProject/Data_InputModel/Envelopes/aske_story4_trial_11_env.npz
AADProject/Data_InputModel/Envelopes/aske_story5_trial_1_env.npz
AADProject/Data_InputModel/Envelopes/aske_story5_trial_2_env.npz
AADProject/Data_InputModel/Envelopes/aske_story5_trial_3_env.npz
AADProject/Data_InputModel/Envelopes/aske_story5_trial_4_env.npz
AADProject/Data_InputModel/Envelopes/aske_story5_trial_5_env.npz
AADProject/Data_InputModel/Envelopes/aske_story5_trial_6_env.npz
AADProject/Data_InputModel/Envelopes/aske_story5_trial_7_env.npz
AADProject/Data_InputModel/Envelopes/aske_story5_trial_8_env.npz
AADProject/Data_InputModel/Envelopes/aske_story5_trial_9_env.npz
AADProject/Data_InputModel/Envelopes/aske_story6_trial_1_env.npz
AADProject/Data_InputModel/Envelopes/aske_story6_trial_2_env.npz
AADProject/Data_InputModel/Envelopes/aske_story6_trial_3_env.npz
AADProject/Data_InputModel/Envelopes/aske_story6_trial_4_env.npz
AADProject/Data_InputModel/Envelopes/aske_story6_trial_5_env.npz
AADProject/Data_InputModel/Envelopes/aske_story6_trial_6_env.npz
AADProject/Data_InputModel/Envelopes/aske_story6_trial_7_env.npz
AADProject/Data_InputModel/Envelopes/dss_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story1_trial_1_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story1_trial_2_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story1_trial_3_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story2_trial_1_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story2_trial_2_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story2_trial_3_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story2_trial_4_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story2_trial_5_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story2_trial_6_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_1_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_2_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_3_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_4_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_5_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_6_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_7_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_8_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_9_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_10_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_11_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_12_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_13_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_14_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_15_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_16_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story3_trial_17_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_1_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_2_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_3_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_4_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_5_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_6_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_7_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_8_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_9_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_10_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_11_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_12_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_13_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_14_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_15_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_16_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_17_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_18_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_19_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_20_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_21_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_22_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_23_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_24_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_25_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story4_trial_26_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_1_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_2_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_3_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_4_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_5_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_6_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_7_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_8_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_9_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_10_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_11_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_12_env.npz
AADProject/Data_InputModel/Envelopes/marianne_story5_trial_13_env.npz
AADProject/Data_InputModel/Envelopes/part1_track1_dry_env.npz
AADProject/Data_InputModel/Envelopes/part1_track2_dry_env.npz
AADProject/Data_InputModel/Envelopes/part2_track1_dry_env.npz
AADProject/Data_InputModel/Envelopes/part2_track2_dry_env.npz
AADProject/Data_InputModel/Envelopes/part3_track1_dry_env.npz
AADProject/Data_InputModel/Envelopes/part3_track2_dry_env.npz
AADProject/Data_InputModel/Envelopes/part4_track1_dry_env.npz
AADProject/Data_InputModel/Envelopes/part4_track2_dry_env.npz
AADProject/Data_InputModel/Envelopes/rep_part1_track1_dry_env.npz
AADProject/Data_InputModel/Envelopes/rep_part1_track2_dry_env.npz
AADProject/Data_InputModel/Envelopes/rep_part2_track1_dry_env.npz
AADProject/Data_InputModel/Envelopes/rep_part2_track2_dry_env.npz
AADProject/Data_InputModel/Envelopes/rep_part3_track1_dry_env.npz
AADProject/Data_InputModel/Envelopes/rep_part3_track2_dry_env.npz
AADProject/Data_InputModel/Envelopes/rep_part4_track1_dry_env.npz
AADProject/Data_InputModel/Envelopes/rep_part4_track2_dry_env.npz
AADProject/Loaders/__pycache__/__init__.cpython-310.pyc
AADProject/Loaders/__pycache__/DataModels.cpython-310.pyc
AADProject/Loaders/__pycache__/matlab_loader.cpython-310.pyc
AADProject/logs/SI_plots_58955098.out
AADProject/logs/SI_58955063/SI_58955063_1.err
AADProject/logs/SI_58955063/SI_58955063_1.out
AADProject/logs/SI_58955063/SI_58955063_2.err
AADProject/logs/SI_58955063/SI_58955063_2.out
AADProject/logs/SI_58955063/SI_58955063_3.err
AADProject/logs/SI_58955063/SI_58955063_3.out
AADProject/logs/SI_58955063/SI_58955063_4.err
AADProject/logs/SI_58955063/SI_58955063_4.out
AADProject/logs/SI_58955063/SI_58955063_5.err
AADProject/logs/SI_58955063/SI_58955063_5.out
AADProject/logs/SI_58955063/SI_58955063_6.err
AADProject/logs/SI_58955063/SI_58955063_6.out
AADProject/logs/SI_58955063/SI_58955063_7.err
AADProject/logs/SI_58955063/SI_58955063_7.out
AADProject/logs/SI_58955063/SI_58955063_8.err
AADProject/logs/SI_58955063/SI_58955063_8.out
AADProject/logs/SI_58955063/SI_58955063_9.err
AADProject/logs/SI_58955063/SI_58955063_9.out
AADProject/logs/SI_58955063/SI_58955063_10.err
AADProject/logs/SI_58955063/SI_58955063_10.out
AADProject/logs/SI_58955063/SI_58955063_11.err
AADProject/logs/SI_58955063/SI_58955063_11.out
AADProject/logs/SI_58955063/SI_58955063_12.err
AADProject/logs/SI_58955063/SI_58955063_12.out
AADProject/logs/SI_58955063/SI_58955063_13.err
AADProject/logs/SI_58955063/SI_58955063_13.out
AADProject/logs/SI_58955063/SI_58955063_14.err
AADProject/logs/SI_58955063/SI_58955063_14.out
AADProject/logs/SI_58955063/SI_58955063_15.err
AADProject/logs/SI_58955063/SI_58955063_15.out
AADProject/logs/SI_58955063/SI_58955063_16.err
AADProject/logs/SI_58955063/SI_58955063_16.out
AADProject/logs/SI_58955063/SI_58955063_17.err
AADProject/logs/SI_58955063/SI_58955063_17.out
AADProject/logs/SI_58955063/SI_58955063_18.err
AADProject/logs/SI_58955063/SI_58955063_18.out
AADProject/logs/SI_58955063/SI_58955063_19.err
AADProject/logs/SI_58955063/SI_58955063_19.out
AADProject/logs/SI_58955063/SI_58955063_20.err
AADProject/logs/SI_58955063/SI_58955063_20.out
AADProject/logs/SI_58955063/SI_58955063_21.err
AADProject/logs/SI_58955063/SI_58955063_21.out
AADProject/logs/SI_58955063/SI_58955063_22.err
AADProject/logs/SI_58955063/SI_58955063_22.out
AADProject/logs/SI_58955063/SI_58955063_23.err
AADProject/logs/SI_58955063/SI_58955063_23.out
AADProject/logs/SI_58955063/SI_58955063_24.err
AADProject/logs/SI_58955063/SI_58955063_24.out
AADProject/logs/SI_58955063/SI_58955063_25.err
AADProject/logs/SI_58955063/SI_58955063_25.out
AADProject/logs/SI_58955063/SI_58955063_26.err
AADProject/logs/SI_58955063/SI_58955063_26.out
AADProject/logs/SI_58955063/SI_58955063_27.err
AADProject/logs/SI_58955063/SI_58955063_27.out
AADProject/logs/SI_58955063/SI_58955063_28.err
AADProject/logs/SI_58955063/SI_58955063_28.out
AADProject/logs/SI_58955063/SI_58955063_29.err
AADProject/logs/SI_58955063/SI_58955063_29.out
AADProject/logs/SI_58955063/SI_58955063_30.err
AADProject/logs/SI_58955063/SI_58955063_30.out
AADProject/logs/SI_58955063/SI_58955063_31.err
AADProject/logs/SI_58955063/SI_58955063_31.out
AADProject/logs/SI_58955063/SI_58955063_32.err
AADProject/logs/SI_58955063/SI_58955063_32.out
AADProject/logs/SI_58955063/SI_58955063_33.err
AADProject/logs/SI_58955063/SI_58955063_33.out
AADProject/logs/SI_58955063/SI_58955063_34.err
AADProject/logs/SI_58955063/SI_58955063_34.out
AADProject/logs/SS_58954743/SS_58954743_1.err
AADProject/logs/SS_58954743/SS_58954743_1.out
AADProject/logs/SS_58954743/SS_58954743_2.err
AADProject/logs/SS_58954743/SS_58954743_2.out
AADProject/logs/SS_58954743/SS_58954743_3.err
AADProject/logs/SS_58954743/SS_58954743_3.out
AADProject/logs/SS_58954743/SS_58954743_4.err
AADProject/logs/SS_58954743/SS_58954743_4.out
AADProject/logs/SS_58954743/SS_58954743_5.err
AADProject/logs/SS_58954743/SS_58954743_5.out
AADProject/logs/SS_58954743/SS_58954743_6.err
AADProject/logs/SS_58954743/SS_58954743_6.out
AADProject/logs/SS_58954743/SS_58954743_7.err
AADProject/logs/SS_58954743/SS_58954743_7.out
AADProject/logs/SS_58954743/SS_58954743_8.err
AADProject/logs/SS_58954743/SS_58954743_8.out
AADProject/logs/SS_58954743/SS_58954743_9.err
AADProject/logs/SS_58954743/SS_58954743_9.out
AADProject/logs/SS_58954743/SS_58954743_10.err
AADProject/logs/SS_58954743/SS_58954743_10.out
AADProject/logs/SS_58954743/SS_58954743_11.err
AADProject/logs/SS_58954743/SS_58954743_11.out
AADProject/logs/SS_58954743/SS_58954743_12.err
AADProject/logs/SS_58954743/SS_58954743_12.out
AADProject/logs/SS_58954743/SS_58954743_13.err
AADProject/logs/SS_58954743/SS_58954743_13.out
AADProject/logs/SS_58954743/SS_58954743_14.err
AADProject/logs/SS_58954743/SS_58954743_14.out
AADProject/logs/SS_58954743/SS_58954743_15.err
AADProject/logs/SS_58954743/SS_58954743_15.out
AADProject/logs/SS_58954743/SS_58954743_16.err
AADProject/logs/SS_58954743/SS_58954743_16.out
AADProject/logs/SS_58954743/SS_58954743_17.err
AADProject/logs/SS_58954743/SS_58954743_17.out
AADProject/logs/SS_58954743/SS_58954743_18.err
AADProject/logs/SS_58954743/SS_58954743_18.out
AADProject/logs/SS_58954743/SS_58954743_19.err
AADProject/logs/SS_58954743/SS_58954743_19.out
AADProject/logs/SS_58954743/SS_58954743_20.err
AADProject/logs/SS_58954743/SS_58954743_20.out
AADProject/logs/SS_58954743/SS_58954743_21.err
AADProject/logs/SS_58954743/SS_58954743_21.out
AADProject/logs/SS_58954743/SS_58954743_22.err
AADProject/logs/SS_58954743/SS_58954743_22.out
AADProject/logs/SS_58954743/SS_58954743_23.err
AADProject/logs/SS_58954743/SS_58954743_23.out
AADProject/logs/SS_58954743/SS_58954743_24.err
AADProject/logs/SS_58954743/SS_58954743_24.out
AADProject/logs/SS_58954743/SS_58954743_25.err
AADProject/logs/SS_58954743/SS_58954743_25.out
AADProject/logs/SS_58954743/SS_58954743_26.err
AADProject/logs/SS_58954743/SS_58954743_26.out
AADProject/logs/SS_58954743/SS_58954743_27.err
AADProject/logs/SS_58954743/SS_58954743_27.out
AADProject/logs/SS_58954743/SS_58954743_28.err
AADProject/logs/SS_58954743/SS_58954743_28.out
AADProject/logs/SS_58954743/SS_58954743_29.err
AADProject/logs/SS_58954743/SS_58954743_29.out
AADProject/logs/SS_58954743/SS_58954743_30.err
AADProject/logs/SS_58954743/SS_58954743_30.out
AADProject/logs/SS_58954743/SS_58954743_31.err
AADProject/logs/SS_58954743/SS_58954743_31.out
AADProject/logs/SS_58954743/SS_58954743_32.err
AADProject/logs/SS_58954743/SS_58954743_32.out
AADProject/logs/SS_58954743/SS_58954743_33.err
AADProject/logs/SS_58954743/SS_58954743_33.out
AADProject/logs/SS_58954743/SS_58954743_34.err
AADProject/logs/SS_58954743/SS_58954743_34.out
AADProject/logs/SS_58954743/SS_plots_58954781.out
AADProject/NWB/__pycache__/__init__.cpython-310.pyc
AADProject/NWB/__pycache__/NWB_Manager.cpython-310.pyc
AADProject/Preprocessing/__pycache__/__init__.cpython-310.pyc
AADProject/Preprocessing/__pycache__/EEGPreprocessing.cpython-310.pyc
AADProject/Preprocessing/__pycache__/stimulusPreprocessing.cpython-310.pyc
AADProject/logs
AADProject/logsDL
AADProject/Results_Lin
AADProject/Results_DL
AADProject/lightning_logs
AADProject/config.yaml
AADProject/debug_plots
AADProject/debug_plots_coarse
AADProject/DLModel/__pycache__/LightningModule.cpython-310.pyc
AADProject/DLModel/__pycache__/plot_checks.cpython-310.pyc
AADProject/DLModel/models/__pycache__/Type2_model.cpython-310.pyc
AADProject/DLModel/models/__pycache__/Type3_model.cpython-310.pyc
